div#admin_bar {
    $sep: 0.5rem;
    position: fixed;
    left: 0px;
    top: 0px;
    // height: 100svh;
    display: block;
    padding: 2px;
    z-index: 5;
    min-width: 0.2rem;

    div {
        display: none;
        margin-left: $sep;
        box-shadow: 0 0 $sep $sep #f0f0f0;
        background-color: gray;
        border-radius: $sep;
        padding: $sep;

        h3 {
            color: white
        }
    }

    &:hover {
        div {
            display: block;
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: black;
        border: thin solid gray;
        padding: $sep;
        border-radius: $sep;
        background-color: #f0f0f0;
        margin: $sep;

        &:hover {
            box-shadow: 0 0 1rem 1rem #f0f0f0;
        }
    }
}

form {
    .requested {
        font-style: italic;
        color: green;
        background-color: #fafafa;
    }

    .failed {
        font-weight: bold;
        color: red;
    }
}


dialog[open]#showerror {
    position: fixed;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    border: thin solid red;
    border-radius: 10px;
    background-color: rgba($color: #fff0f0, $alpha: 0.9);
    max-width: 100%;

    // display: block;
    &:focus {
        border: thin solid red;
    }
}

div#edithint {
    background-color: brown;
    height: 0rem;
    width: 0rem;
    a {
        position: relative;
        top: -0.9rem;
        text-decoration: none;
        padding: 0.3rem;
        background-color: white;
        box-shadow: 0 0 1rem lightblue;
    }
}

@media (max-width: 50rem) {
    div#admin_bar {
        display: none; // hiding on small screens
    }
}