div#adminBox {
    width: 3rem;
    height: 3rem;
    position: fixed;
    right: 0px;
    top: 0px;
    display: block;
    padding: 2px;
    z-index: 5;
    cursor: context-menu;

    &.requested {
        background-color: chartreuse;
    }

    &.failed {
        background-color: crimson;
    }

    /* &:hover { border: solid thin lightgrey; } */
}

dialog#show_error {
    border-radius: 0.3rem;
    // border: 3px solid red;
    border: none;
    outline: 3px solid red;
}

div#topbox {
    /* padding: 0.5rem; */
    /* margin: 0.5rem; */
    text-align: center;
    font-size: 0.9rem;

    span {
        padding: 0.3rem;
        color: black;

        &:hover {
            color: white;
            text-shadow: 0px 0px 1px #000, 0px 0px 1.2rem #000;
            border: thin solid #808080;
            border-radius: 0.5rem;
            background-color: #a0a0a0;
            cursor: pointer;
        }
    }
}

dialog#edi_tor {
    border-radius: 2rem;
    z-index: 100;
    position: absolute;
    overflow: visible;
    border: none;
    outline: none;

    div#editor_choices {
        text-align: center;
        margin: 0.5rem;

        span {
            padding: 0.3rem;
            margin: 0.5rem;

            &:hover {
                border: thin solid #808080;
                border-radius: 0.5rem;
                background-color: #e0e0e0;
                cursor: pointer;
            }
        }
    }

    tiny {
        font-size: 0.7rem;
    }

    div.tox-tinymce {
        resize: both;
    }
}

dialog#show_help {
    border-radius: 1rem;
    border: none;
    outline: thin solid lightgreen;
}

dialog#show_page {
    border: none;
    border-radius: 1rem;
    outline: none;
    min-width: 50%;
}

div.formtable {

    display: table;
    border-collapse: collapse;
    $border: thin #a0a0a0 solid;
    margin-top: 0.5rem;
    div {
        display: table-row;
        span{
            display: table-cell;
            text-align: center;
            border: $border;
        }
    }
    form {
        display: table-row;

        >* {
            padding: 0.5rem;
            border: $border;
            display: table-cell;
        }
        input {
            min-width: 40rem;
        }
    }
}