div#adminBox {
    width: 3rem;
    height: 3rem;
    position: fixed;
    right: 0px;
    top: 0px;
    display: block;
    padding: 2px;
    z-index: 5;
    cursor: context-menu;

    &.requested {
        background-color: chartreuse;
    }

    &.failed {
        background-color: crimson;
    }

    /* &:hover { border: solid thin lightgrey; } */
}

dialog#show_error {
    border-radius: 0.3rem;
    border: none;
    outline: 3px solid red;
    z-index: 100;
}

div#topbox {
    position: fixed;
    top: 0.5rem;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;

    span {
        padding: 0.3rem;
        color: black;

        &:hover {
            color: white;
            text-shadow: 0px 0px 1px #000, 0px 0px 1.2rem #000;
            border: thin solid #808080;
            border-radius: 0.5rem;
            background-color: #a0a0a0;
            cursor: pointer;
        }
    }
}

dialog#edi_tor {
    border-radius: 2rem;
    z-index: 100;
    position: absolute;
    overflow: visible;
    border: none;
    outline: none;

    div#editor_choices {
        text-align: center;
        margin: 0.5rem;

        span {
            padding: 0.3rem;
            margin: 0.5rem;

            &:hover {
                border: thin solid #808080;
                border-radius: 0.5rem;
                background-color: #e0e0e0;
                cursor: pointer;
            }
        }
    }

    tiny {
        font-size: 0.7rem;
    }

    div.tox-tinymce {
        resize: both;
    }
}

dialog#show_help {
    border-radius: 1rem;
    border: none;
    outline: thin solid lightgreen;
}

dialog#show_page {
    border: none;
    border-radius: 1rem;
    outline: none;
    min-width: 50%;
}

dialog#media_picture {
    border: none;
    border-radius: 1rem;
    outline: thin blue solid;

    form#drop_Area {
        border: thin #a0a0a0 solid;
        padding: 0.5rem;
        margin: 2rem;
        box-shadow: 0 0 0.2rem 0.1rem #a0a0a0;
        border-radius: 0.5rem;
        * {
            margin: 0.5rem;
        }

        input#files {
            border: none; // thin green solid;
            border-radius: 0.5rem;
            padding: 0.5rem;
            display: block;
            outline: none;
        }

        input[type="submit"] {
            display: block;
            margin-left: auto;
            padding: 0.5rem;
            border-radius: 0.5rem;
            
        }
    }
}

dialog#show_style{
    border: none;
    border-radius: 1rem;
    outline: none;
    min-width: 50svw;
    div {
        text-align: center;
        margin: 0.5rem;
    }
    textarea {
        width: 100%;
        min-height: 50vh;
        outline: none;
        border: thin solid lightgrey;
        border-radius: 0.3rem;
    }
}

dialog#rewind {
    border: none;
    border-radius: 1rem;
    outline: none;
    min-width: 30svw;
    select {
        min-width: 10rem;
    }
}

div.formtable {

    display: table;
    border-collapse: collapse;
    $border: thin #a0a0a0 solid;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.4rem;

    div {
        display: table-row;

        span {
            display: table-cell;
            text-align: center;
            border: $border;
            font-weight: bolder;
        }
    }

    form {
        display: table-row;
        border: $border;

        >* {
            padding: 0.5rem;
            border: $border;
            display: table-cell;
            margin-top: auto;
            margin-bottom: auto;
        }

        label {
            text-align: right;
        }

        input {
            padding: 0.3rem;
            margin: 0.5rem;
            // min-width: 40rem;
            border: none; // thin solid red;
        }
        img {
            max-width: 8rem;
            max-height: 5rem;
            border: none;
        }
    }
}

form span[onclick] {
    color: black;
    padding: 0.5rem;

    &:hover {
        color: white;
        text-shadow: 0px 0px 1px #000, 0px 0px 1.2rem #000;
        border: thin solid #808080;
        border-radius: 0.5rem;
        background-color: #a0a0a0;
        cursor: pointer;
    }
}