
html {
    font-size: 5mm;
    font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
div.topnav {
    font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
    font-weight: 600;
    text-shadow: 1px 1px 0px #FEFFED, 2px 2px 0px rgba(56, 54, 23, 0.3);
}

h5 {
    font-size: 1.1rem;
}

h4 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.4rem;
}

h1 {
    font-size: 1.5rem;
}
