@import 'reset.scss';
@import 'font+sizes.scss';
@import 'admin.scss';

dialog.sendpw {
    margin: auto;
    padding: 1rem;
    border: thin solid #f0f0f0;
    border-radius: 10px;
    display: block;
    background-color: white;
    max-width: 100%;
    translate: 0 20vh;
    
    &:focus-within{
        box-shadow: 0 0 100px 100svh rgba(0, 0, 0, 0.1);
        border: none;
    }
    h2 {
        margin-top: 0;
    }

    form {
        width: 100%;

        label {
            display: block;
            color: #555;
            margin-top: 0.2rem;
            margin-bottom: 0.1rem;
        }

        input {
            width: 100%;
            padding: 4px;
            border: 1px solid #cccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
            margin-top: 5px;
            height: 2rem;
        }
    }
}