@import 'reset.scss';
@import 'font+sizes.scss';

dialog.sendpw {
    margin: auto;
    padding: 1rem;
    border: thin solid #f0f0f0;
    border-radius: 10px;
    display: block;
    background-color: white;
    max-width: 100%;
    translate: 0 20vh;

    &:focus-within {
        box-shadow: 0 0 100px 100svh rgba(0, 0, 0, 0.1);
        border: none;
    }

    h2 {
        margin-top: 0;
    }

    form {
        width: 100%;

        label {
            display: block;
            color: #555;
            margin-top: 0.2rem;
            margin-bottom: 0.1rem;
        }

        input {
            width: 100%;
            padding: 4px;
            border: 1px solid #cccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
            margin-top: 5px;
            height: 2rem;
        }
    }
}

html {
    min-height: 100svh;
    background-color: rgb(250, 250, 240);
}

$sep: 0.5rem;

body {
    padding: $sep;
}

h2,
h3 {
    margin-top: 0.5rem;
}

header {
    div.logoline {
        img {
            height: 6rem;
        }

        h1 {
            display: inline;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    div.topnav {
        display: flex;

        nav {
            margin-left: auto;

            a {
                text-decoration: none;
                color: darkgreen;
                padding: 0.2rem;
                transition: 0.3s;
            }

            a+a {
                border-left: 1px solid darkgreen;
            }
        }
    }

    details {
        summary {
            display: block;
            margin-left: auto;
        }

        a {
            text-decoration: none;
            display: block;
        }
    }
}

body#tinymce {
    width: 100svw;
    height: 100svh;
    display: block;
    background-color: #fafafa;
    padding: 0.5rem;
}

div.tox {
    // background-color: red;
    border-radius: 0.5rem;
    border: none;
    //thin solid red;
}

div.tableform {
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    $border: thin #a0a0a0 solid;

    // border: $border;
    * {
        padding: 0.2rem;
    }

    form {
        display: table-row;

        >* {
            border: $border;
            display: table-cell;
            // padding: 0.5rem;
        }

        label {
            text-align: right;
        }

        input {
            border: none;
            border-radius: 0.2rem;
        }

        select {
            border: none;
            border-radius: 0.2rem;
            background-color: #f0f0f0;
        }
    }

    >div {
        /* works as a header row */
        display: table-row;

        >* {
            display: table-cell;
            text-align: center;
            font-weight: bold;
        }
    }
}

footer {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;

    hr {
        border-top: thin solid #a0a0a0;
        border-bottom: none;
        width: 75%;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem
    }
}

.tinyfooter {
    font-size: smaller;

}

form {
    input.right_align {
        display: block;
        margin-left: auto;
        margin-top: 0.2rem;
        border: thin solid #a0a0a0;
        border-radius: 0.5rem;
        padding: 0.5rem;
        box-sizing: border-box;
    }
}

fieldset {
    padding: 0.5rem;
    border: thin solid #a0a0a0;
    border-radius: 0.5rem;

    legend {
        padding: 0.3rem;
        border: none;
        border-radius: inherit;
    }
}

table.cfgTable {
    background-color: antiquewhite;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    $border: thin #a0a0a0 solid;
    border: $border;
    width: 100%;
    input { 
        width: 100%;
        border: none;
    }
    td {
        border: $border;
        padding: 0.2rem;
    }
    .right {
        text-align: right;
    }
}

main,
body#tinymce {
    font: inherit;
    padding: 0.5rem;

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }

    blockquote {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        border-left: thin solid #a0a0a0;
    }
}

@media (min-width: 50rem) {
    div.logoline {
        display: flex;
    }

    header details {
        display: none;
    }
}

@media not all and (min-width: 50rem) {
    div.logoline {
        h1 {
            font-size: 1rem;
        }
    }

    div.topnav nav {
        display: none;
    }
}


@media (min-width: 60rem) {
    body {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr [bigger-start] 1fr [middle-start] clamp(10rem, 80svw, 60rem) [middle-end] 1fr [bigger-end] 1fr;

        >* {
            grid-column: middle;
        }

        main {

            display: grid;
            // place-items: center;
            grid-template-areas: "stack";

            >* {
                grid-area: stack;
            }

            img {
                max-width: 100%;
                height: auto;
                display: inline;

                &.background_picture {
                    filter: brightness(2);
                    opacity: 0.5;
                    z-index: 2;
                }
            }

            article {
                padding: 1rem;
                opacity: 0.7;
                z-index: 3;

                em {
                    font-style: italic;
                }
            }
            div.autohide {
                background-color: aquamarine;
                // position: absolute;
                // top: -1rem;
                // left: 0.5rem;
                // grid-area: unset;
                width: fit-content;
                height: fit-content;
                display: none;
                z-index: 5;
            }
            &:hover div.autohide {
                background-color: antiquewhite;
                display: block;
            }
        }
    }
}

@import 'admin.scss';