*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

html {
  font-size: 5mm;
  font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
div.topnav {
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  font-weight: 600;
  text-shadow: 1px 1px 0px #FEFFED, 2px 2px 0px rgba(56, 54, 23, 0.3);
}

h5 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.3rem;
}

h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 1.7rem;
}

dialog.sendpw {
  margin: auto;
  padding: 1rem;
  border: thin solid #f0f0f0;
  border-radius: 10px;
  display: block;
  background-color: white;
  max-width: 100%;
  translate: 0 20vh;
}
dialog.sendpw:focus-within {
  box-shadow: 0 0 100px 100svh rgba(0, 0, 0, 0.1);
  border: none;
}
dialog.sendpw h2 {
  margin-top: 0;
}
dialog.sendpw form {
  width: 100%;
}
dialog.sendpw form label {
  display: block;
  color: #555;
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
}
dialog.sendpw form input {
  width: 100%;
  padding: 4px;
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 4px;
  box-sizing: border-box;
}
dialog.sendpw form input[type=submit] {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
  height: 2rem;
}

html {
  min-height: 100svh;
  background-color: rgb(250, 250, 240);
}

body {
  padding: 0.5rem;
}

h2,
h3 {
  margin-top: 0.5rem;
}

h4,
h5 {
  margin-top: 0.3rem;
}

h2 {
  margin-left: 0.2rem;
}

h3 {
  margin-left: 0.4rem;
}

h4 {
  margin-left: 0.6rem;
}

h5 {
  margin-left: 0.8rem;
}

header div.logoline img {
  height: 6rem;
}
header div.logoline h1 {
  display: inline;
  margin-top: auto;
  margin-bottom: auto;
}
header div.logoline a {
  text-decoration: none;
  color: inherit;
}
header div.topnav {
  display: flex;
}
header div.topnav nav {
  margin-left: auto;
}
header div.topnav nav a {
  text-decoration: none;
  color: darkgreen;
  padding: 0.2rem;
  transition: 0.3s;
}
header div.topnav nav a + a {
  border-left: 1px solid darkgreen;
}
header details summary {
  display: block;
  margin-left: auto;
}
header details a {
  text-decoration: none;
  display: block;
}

body#tinymce {
  width: 100svw;
  height: 100svh;
  display: block;
  background-color: #fafafa;
  padding: 0.5rem;
}

div.tox {
  border-radius: 0.5rem;
  border: none;
}

div.tableform {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
}
div.tableform * {
  padding: 0.2rem;
}
div.tableform form {
  display: table-row;
}
div.tableform form > * {
  border: thin #a0a0a0 solid;
  display: table-cell;
}
div.tableform form label {
  text-align: right;
}
div.tableform form input {
  border: none;
  border-radius: 0.2rem;
}
div.tableform form select {
  border: none;
  border-radius: 0.2rem;
  background-color: #f0f0f0;
}
div.tableform > div {
  /* works as a header row */
  display: table-row;
}
div.tableform > div > * {
  display: table-cell;
  text-align: center;
  font-weight: bold;
}

footer {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}
footer hr {
  border-top: thin solid #a0a0a0;
  border-bottom: none;
  width: 75%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.tinyfooter {
  font-size: smaller;
}

form input.right_align {
  display: block;
  margin-left: auto;
  margin-top: 0.2rem;
  border: thin solid #a0a0a0;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

fieldset {
  padding: 0.5rem;
  border: thin solid #a0a0a0;
  border-radius: 0.5rem;
}
fieldset legend {
  padding: 0.3rem;
  border: none;
  border-radius: inherit;
}

table.cfgTable {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
  border: thin #a0a0a0 solid;
  width: 100%;
}
table.cfgTable input {
  width: 100%;
  border: none;
}
table.cfgTable td {
  border: thin #a0a0a0 solid;
  padding: 0.2rem;
}
table.cfgTable .right {
  text-align: right;
}

.borderbox {
  border: thin #a0a0a0 solid;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 0 0 0.2rem 0.1rem #a0a0a0;
  border-radius: 0.5rem;
}
.borderbox * {
  margin: 0.2rem;
}

.dragHigh {
  background-color: rgb(230, 255, 230);
}

input[type=submit].requested {
  font-style: italic;
  color: green;
  background-color: #fafafa;
}

input[type=submit].failed {
  font-weight: bold;
  color: red;
}
input[type=submit].failed::before {
  content: "upload error";
  border: solid thick red;
}

main,
body#tinymce {
  font: inherit;
  padding: 0.5rem;
}
main strong,
body#tinymce strong {
  font-weight: bold;
}
main em,
body#tinymce em {
  font-style: italic;
}
main blockquote,
body#tinymce blockquote {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  border-left: thin solid #a0a0a0;
}

@media (min-width: 50rem) {
  div.logoline {
    display: flex;
  }
  header details {
    display: none;
  }
}
@media not all and (min-width: 50rem) {
  div.logoline h1 {
    font-size: 1rem;
  }
  div.topnav nav {
    display: none;
  }
}
@media (min-width: 60rem) {
  body {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr [bigger-start] 1fr [middle-start] clamp(10rem, 80svw, 60rem) [middle-end] 1fr [bigger-end] 1fr;
  }
  body > * {
    grid-column: middle;
  }
  body main {
    display: grid;
    grid-template-areas: "stack";
  }
  body main > * {
    grid-area: stack;
  }
  body main img {
    max-width: 100%;
    height: auto;
    display: inline;
  }
  body main img.background_picture {
    filter: brightness(2);
    opacity: 0.5;
    z-index: 2;
  }
  body main article {
    padding: 1rem;
    opacity: 0.7;
    z-index: 3;
  }
  body main article em {
    font-style: italic;
  }
  body main div.autohide {
    background-color: aquamarine;
    width: fit-content;
    height: fit-content;
    display: none;
    z-index: 5;
  }
  body main:hover div.autohide {
    background-color: antiquewhite;
    display: block;
  }
}
div#admin_bar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100svh;
  display: block;
  padding: 5px;
  z-index: 5;
  min-width: 1rem;
}
div#admin_bar div {
  display: none;
  margin-left: 0.5rem;
  box-shadow: 0 0 0.5rem 0.5rem #f0f0f0;
  background-color: gray;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
div#admin_bar div h3 {
  color: white;
}
div#admin_bar:hover div {
  display: block;
}
div#admin_bar a {
  display: block;
  text-decoration: none;
  color: black;
  border: thin solid gray;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  margin: 0.5rem;
}
div#admin_bar a:hover {
  box-shadow: 0 0 1rem 1rem #f0f0f0;
}

@media (max-width: 50rem) {
  div#admin_bar {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
